<section class="phx-hero">
  <%= for npc <- @npcs do %>
    <%= live_component @socket, BladesInTheDarkWeb.NPCComponent, npc: npc %>
    <br>
  <% end %>
  <form phx-change="suggest" phx-submit="update">

    <button type="submit" phx-disable-with="updating...">Update</button>
  </form>
 </section>

